RewriteEngine on

RewriteCond %{HTTP} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
# Run Php without filename extension
Options All -Indexes
IndexIgnore *
IndexIgnore *.png *.zip *.jpg *.gif *.doc *.js *.css

AddDefaultCharset UTF-8

#secure headers


Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header unset X-Powered-By
Header add Strict-Transport-Security "max-age=157680000"
Header set Referrer-Policy "origin"


AddType application/x-httpd-php .bop .foo .133t

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^(.*)$ $1.php
ErrorDocument 404 /503.html
