<files ".htaccess">
    order allow,deny
    deny from all
    </files>
    
    RewriteEngine On
    ErrorDocument 404 /503.html
    
    #LOGIN & SIGNUP
    RewriteRule ^login$ login.php [L]
    RewriteRule ^register$ signup.php [L]
    RewriteRule ^logout$ logout.php [L]
    RewriteRule ^error$ config/error-db.php [L]
    
    #LINK CORE
    RewriteRule ^home home.php [L]
    RewriteRule ^nap-tien core/nap-tien.php [L]
    RewriteRule ^profile core/profile.php [L]
    RewriteRule ^panel-ddos core/panel-ddos.php [L]
    RewriteRule ^spam-sms core/spam-sms.php [L]
    RewriteRule ^api-manager core/api-manager.php [L]
    RewriteRule ^mua-key core/mua-key.php [L]
    RewriteRule ^tool core/tool.php [L]
    RewriteRule ^huongdan core/huongdan.php [L]
    RewriteRule ^faq core/faq.php [L]
    RewriteRule ^bang-phong-than core/bang-phong-than.php [L]
    # LINK QUẢN TRỊ
